@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto&display=swap');

:root {
  --primary-color: #ffffff;
  --list-background: #ececec;
  --button-background: #000000;
  --input-background: #f5f3f3;
  --input-color: #000000;
  --heading-color: #292922;
  --switch-color: #000000;
  --box-shadow-input: #3c3b3b;
  --box-shadow-todo: #adadad;
  --background-transition: 0.4s background-color;
  --color-transition: 0.4s color;
  --transition-both: 0.4s color, 0.4s background-color;
}

[data-theme='dark'] {
  --primary-color: #0e141b;
  --list-background: #ffffff;
  --button-background: #4a67f8;
  --input-background: #2e3746;
  --input-color: #ffffff;
  --heading-color: #ff0a78;
  --switch-color: #ffffff;
  --box-shadow-input: #0e141b;
  --box-shadow-todo: #0e141b;
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  /* transition: var(--background-transition); */
  font-family: 'Architects Daughter', cursive;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: var(--heading-color);
  transition: var(--color-transition);
  font-size: 2.2em;
  font-family: 'Architects Daughter', cursive;
}

ul {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 1em 0;
}

ul li {
  color: #000;
  background-color: var(--list-background);
  cursor: pointer;
  margin-bottom: 0.5em;
  padding: 0.5em 1.5em;
  box-shadow: 1px 1px 2px var(--box-shadow-todo);
  transition: var(--background-transition), box-shadow 300ms;
}

button {
  font-family: 'Roboto', sans-serif;
  background-color: var(--button-background);
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  transition: 0.4s ease-out;
  letter-spacing: 0.5px;
  border: none;
  border-radius: 2px;
  line-height: 3em;
  padding: 0 1em;
  text-transform: uppercase;
  transition: var(--background-transition);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

button:hover {
  opacity: 0.8;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

input#submit {
  padding: 0.5em 1.6em;
  background-color: var(--input-background);
  margin: 0 1em 0 0;
  color: var(--input-color);
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.8;
  border: none;
  border-radius: 0.4rem;
  transition: var(--color-transition), box-shadow 400ms;
  width: 15%;
  font-size: 1em;
}

input#submit:focus {
  outline: none;
  box-shadow: 0.2rem 0.8rem 1.6rem var(--box-shadow-input);
}

input#submit::placeholder {
  color: #adb5b9;
}

.completed {
  text-decoration: line-through;
  position: relative;
}

i.fas.fa-check {
  position: absolute;
  color: #65bb6a;
  left: -1.5em;
  font-size: 1.5em;
}

/* Switch */

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch-wrapper strong {
  color: var(--switch-color);
  margin: 0 10px;
  font-size: 1rem;
  transition: var(--color-transition);
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: transform 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: '';
  height: 26px;
  left: 4px;
  position: absolute;
  transition: transform 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
